<div layout="vertical" layout-fill>
	<md-content>

	<h1>All gifts</h1>

	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>

	<md-input-container>
    	<label>Simple input</label>
    	<input ng-model="gift.inputTitle">
    </md-input-container>

    <md-button class="md-raised" ng-click="gift.showToastr()">Submit</md-button>

	</section>



	<md-list>
	<md-list-item class="md-3-line" ng-repeat="gift in gift.giftBox">
        <div class="md-list-item-text" layout="column">
        	<h3>{{ gift.enName }}</h3>
        	<h4>{{ gift.price }}</h4> 
        </div>
      </md-list-item>
	</md-list>




	</md-content>

</div>
